:root {
  --color-0: #1b1b1b;
  --color-1: #131313;
  --color-2: #a8a8a8;
  --color-3: #1b9131;
  --color-4: #5bd171;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

main {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-areas: 'header' 'page' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;
  background: var(--color-0);
  color: var(--color-2);
}

main > * {
  max-width: 100vw;
}

main > header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--color-0);
  color: var(--color-3);
  box-shadow: 0px 3px 5px #13131370;
}

#doc-nav-switcher {
  display: none;
}

#doc-nav-switcher:checked + main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main > header > label {
  padding: 5px;
  background: var(--color-0);
  color: var(--color-2);
  border: 1px solid var(--color-2);
  text-align: center;
}

#doc-nav-switcher:checked + main > header > label {
  color: var(--color-4);
  border: 1px solid var(--color-4);
}

#doc-nav-container {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  opacity: 0%;
  animation: close-doc 1s forwards;
  overflow: scroll;
  z-index: 4;
}

#doc-nav-switcher:checked + main > header > #doc-nav-container {
  pointer-events: auto;
  opacity: 50%;
  animation: open-doc 1s forwards;
}

#doc-nav-container > label {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #aaa1;
  border-radius: 4px;
  color: var(--color-2);
  float: right;
}

#doc-nav-container > ul {
  margin-top: 40px;
  list-style: none;
}

#doc-nav-container > ul > li + li {
  margin-top: 10px;
}

#doc-nav-container a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-2);
  background: #aaa1;
  border-radius: 4px;
}

#doc-nav-container a:hover {
  background: #aaa3;
}

@keyframes open-doc {
  0% {
    opacity: 0%;
    background: #13131300;
    backdrop-filter: blur(0px);
    opacity: 0%;
  }
  
  100% {
    background: #131313bb;
    backdrop-filter: blur(10px);
    opacity: 100%;
  }
}

@keyframes close-doc {
  0% {
    background: #131313bb;
    backdrop-filter: blur(10px);
    opacity: 100%;
  }

  100% {
    background: #13131300;
    backdrop-filter: blur(0px);
    opacity: 0%;
  }
}

.page-container {
  grid-area: page;
  height: 100%;
  max-width: min(900px, 100vw);
  margin: auto;
  padding: 10px;
}

.page-container h2, .page-container h3 {
    color: var(--color-3);
    margin-bottom: 4px;
}

.page-container p + h2, .page-container h3 {
  margin-top: 10px;
}

.page-container a {
  padding-inline: 3px;
  text-decoration: none;
  color: var(--color-4);
  border: 1px dashed transparent;
}

.page-container a:hover {
  border: 1px dashed var(--color-3);
}

.code-block {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  background: var(--color-1);
  border: 1px solid #aaa2;
  border-radius: 4px;
  margin-block: 10px;
}

.code-block button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
  position: absolute;
  top: 3px;
  right: 5px;
  background: transparent;
  color: var(--color-2);
  border-radius: 4px;
}

.code-block button:active {
  color: var(--color-3);
}

.code-block pre {
  display: block;
  margin-top: 10px;
  overflow-x: scroll;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
}

.code-block pre::-webkit-scrollbar {
  background: transparent;
}

.code-block pre::-webkit-scrollbar-thumb {
  background: #fff1;
  border-radius: 5px;
}

main > footer {
  grid-area: footer;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-1);
}

main > footer > * + * {
  margin-left: 30px;
}

main > footer a {
  padding-inline: 3px;
  text-decoration: none;
  color: var(--color-2);
  border: 1px dashed transparent;
}

main > footer a:hover {
  border: 1px dashed var(--color-2);
}